

div{
    width: 520px;
    border: 1px solid black;
    padding: 3px;
    margin: 10px auto;
    padding: 20px;
    
}

.first_class{
    list-style: none;
}

.second_class{
    list-style-type: none;
}
.margin_up{
    margin-top: 10px;
}
textarea{
    display: block;
}