/* 전체 스타일 */
*{margin: 0;padding: 0;}
/* 16:9 화면상 1600px로 설정 */
#container{width: 100%; margin: 0 auto;}
main{width: 1200px; margin: 0 auto;box-sizing: border-box;}

/* header영역 스타일 */
header{height: 80px; background-color: rgb(9, 103, 9);}
header #logo{width: 300px; float: left;padding-left: 30px;line-height: 80px;}
#logo h1 a{color: orange;text-decoration: none;}
nav{
    width: 800px;   
    line-height: 80px;
    float: right;
    text-align: right;
    margin-right: 100px;
}
nav #topMenu{list-style: none;}
#topMenu li{display: inline-block; padding: 0 20px;}
#topMenu li a{text-decoration: none;color: white;}
#topMenu li a:hover{color:blue;}

/* main 영역 스타일 */
#contents section{margin: 30px 10px;}
section div{margin:10px;}
section p{line-height: 2;}
/* section의 높이를 지정해줌 */
#healing, #activity{height: 300px;}
#healing img, #datail img{float: left;margin-right: 20px;border-radius: 10px;}
.schedule h3{margin-top: 20px;}
.schedule ul li{list-style: none; margin: 10px;}
#detail img{float: left; margin-right: 20px; border-radius: 10px;}
#sightseeing ul li{list-style: square;margin: 10px 30px;}
#sightseeing a{text-decoration: none;}
#sightseeing a:hover{text-decoration: underline;}

/* footer 영역 스타일 */
footer{width: 1200px; height: 100px; margin: 0 auto; border-top: 1px solid #555 ;}
footer #bottomMenu{list-style: none; padding: 20px;}
#bottomMenu li{display: inline-block; margin: 0; border-right: 1px solid #444; padding: 0 15px;}
#bottomMenu a{text-decoration: none;color: #444;}
#bottomMenu li:last-child{border: none;}
/* #bottomMenu li:nth-child(4){border: none;} */

/* product 스타일 */
#product p{line-height: 2;}
#product h2{margin-bottom: 10px;}
#descripition{
    padding: 20px 60px ;
    margin: 30px auto;
    border: 1px dotted #333;
    border-radius: 30px 30px 0px 0px;
}
#descripition img{margin: 10px; border-radius: 10px;}

/* receipe 스타일 */
#receipe{
    width: 800;
    border: 1px dotted #333;
    margin: 0 auto;
    padding: 20px 60px;
}
#receipe ol{padding-left: 20px;margin-top: 10px;line-height: 2;}

#package{border: 1px dotted #333;
    border-radius: 0 0 30px 30px;
    margin: 30px 0;
    padding: 20px 60px;
}
#package table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px 20px;
}