/* 모든 요소들의 기본 마진, 패딩 제거 */
* {margin: 0px; padding: 0px;}

/* 화면에 너무 붙어 있는 것이 싫어서 */
body{
    padding: 30px;
    background-color: antiquewhite;
}

/* 제못줄 영역 */
header{ padding: 5px;}
header a{ text-decoration: none; color: #333333;}

/* nav 메뉴 */
nav{
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
}

nav ul li{
    display: inline;
    letter-spacing: .3em;
    margin-left: 2em;
}

nav ul li a{
    color: black;
    text-decoration: none;
    line-height: 3em;
    text-transform: uppercase;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* 왼쪽 사이드 메뉴 */
aside#left{
    /*   */
    float:left;
    /* em단위가 글자만큼 ex)1em=한글자만큼 */
    width: 10em;
    margin-right: 1em;
}

#left ul{ list-style: none;}
#left ul li{
    background-color: #3f3f3f;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

#left ul li a{
    color: white;
    text-decoration: none;
    display: block;
}

#left ul li:hover{background-color: red;}

#left h4{ padding: 5px; }

/* 가운데 콘텐츠 영역 */
article{
    float: left;
    width: 460;

}

/* 오른쪽사이드 영역 */
aside#right{
    float: right;
    padding: 10px;
    width: 12em;
}

#right #shopcart{
    margin-bottom: 30px;
}

#right #login input{
    margin-bottom: 5px;
}

/* footer 영역 */
footer{
    clear: both;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1em 0px;
}
